CATALYST_CLIENT_ID=1000.8VGVFU0WRAX6GOBKKX7EJX0LD7WZAZ
CATALYST_CLIENT_SECRET=6525e37c8f308eef1a83ce1a20a2b29d73a987317a
CATALYST_FUNCTION_URL=
CATALYST_PROJECT_ID=55968000000013023
JACCARD_THRESHOLD=
ZIA_API_KEY=
GEMINI_API_KEY=
NEXT_PUBLIC_SUPABASE_URL=https://wznkbnwvkartstxaoryt.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_AzoZoSWoKsNbD948pGqOVQ_6MO42xUH
SUPABASE_DIRECT_POSTGRES_URL=postgresql://postgres:Gukesh_the1@db.wznkbnwvkartstxaoryt.supabase.co:5432/postgres
